.MMM-Ecobee .icon {
  padding-left: 0;
  padding-right: 15px;
  align-items: left;
}

.MMM-Ecobee .header {
  border-bottom: none; /* instead of 1px solid #666; to remove all lines from all the headers */
  width: 50%;          /* add this to change the width of all module headers */
}

.MMM-Ecobee .current_temp{
  padding-right: 5px;
}

.MMM-Ecobee svg {
  stroke: #999;
  fill: none;
  height: 30px;
}

.MMM-Ecobee svg text {
  stroke: none;
  fill: #999;
}

.MMM-Ecobee .stroke-no-motion {
  stroke: none;
}

.MMM-Ecobee .stroke-heat-color {
  stroke: #F99B1F;
}

.MMM-Ecobee .stroke-cool-color {
  stroke: #36C3EA;
}

.MMM-Ecobee .stroke-thermostat-color {
  stroke: #D28DE0;
}
